---
import { Icon } from 'astro-icon/components';
import styles from '@styles/components/PackageVersion.module.css';

const TARGET_DEV = {
  react: {
    icon: 'devicon:react',
    link: 'https://github.com/facebook/react',
  },
  vue: {
    icon: 'simple-icons:vuedotjs',
    link: 'https://github.com/vuejs/core',
  },
  jest: {
    icon: 'simple-icons:jest',
    link: 'https://github.com/jestjs/jest',
  },
  chrome: {
    icon: 'simple-icons:googlechrome',
    link: 'https://www.google.com/intl/ko/chrome/',
  },
  firefox: {
    icon: 'simple-icons:firefoxbrowser',
    link: 'https://www.mozilla.org/ko/firefox/new/',
  },
  dotnet: {
    icon: 'simple-icons:dotnet',
    link: 'https://dotnet.microsoft.com/',
  }
} as const;

type TargetName = keyof (typeof TARGET_DEV);

interface Props {
  versions: [TargetName, string][];
}
---

<div class={styles['badge-container']}>
  {Astro.props.versions.map(([name, version]) => (
    <a class={styles.badge} href={TARGET_DEV[name].link}>
      <Icon is:inline name={TARGET_DEV[name].icon} />
      <span class={styles.version}>{version}</span>
    </a>
  ))}
</div>